.container {
  margin: 0 auto;
  width: 1100px;
  line-height: 150%;
}

* {
  padding: 0.4em;
  margin: 0;
  box-sizing: border-box;
  list-style: none; 
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ffffff;
}

.main_content {
  min-height: 100vh;
  width: 100%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  box-shadow: 0 0 3px rgba(122,122,122,0.7);
}

.left_column {
  grid-column: span 2;
  height: 100%;
  background-color: #494e5f;
  color: #fde5d3;
}

.right_column {
  grid-column: span 5;
  height: 100%;
  background-color: #fdfefa;
  padding: 0.4rem rem;
  color: #494e5f;
}

.left_content{
  padding: 1rem 0.1rem;
}

.profile {
  width: 80%;
  border-bottom: 3px solid #fde5d3;
}

.profile img {
  width: 100%;
  border-radius: 50%;
  border: 4px solid #fde5d3;
}

.name {
  font-size: 1.6rem;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
}

.career {
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 0.7rem;
}

.left_title {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fde5d3;
  padding-top: 2rem;
  margin: 0.5rem 0;
}

ul li {
  list-style-type: disc;
  margin-left: 28px;
  padding-left: 0px;
}

.contact_info ul li {
  padding: 0.2rem 0;
  margin-left: -12px;
  display: flex;
  align-items: center;
}

.contact_info_link {
  color: #fde5d3;
  text-decoration: none;
  margin-left: -4px;
}

.contact_info_link:hover {
  text-decoration: underline;
}

.right_title {
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: #fde5d3;
  margin-bottom: 0.7rem;
  margin-top: 0.7rem;
  margin-left: 1rem;
  margin-right: 2rem;
  position: relative;
  padding: .4rem;
  right: 0.4rem;
}

.right_paragraph {
  padding: 0.4rem 1rem;
}

.right_subtitle {
  padding: 0.4rem 1rem;
  line-height: 14px;
}

h3 {
  margin-bottom: 0.3rem;
  margin-left: 6px;
  line-height: 20px;
}

.footer {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background-color: #ffffff;
}

.year {
  font-weight: 900;
  font-size: 26px;
  margin-top: 20px;
}

.github_link:hover, .rs_school_link:hover {
  transform: scale(1.1); 
}

pre {
  width: 93%;
  margin-left: 11px;
  padding: 10px;
  background-color: rgba(253, 229, 211, 0.3);  
}

h4 {
  padding-bottom: 2px;
}

